// Challenge to sort the regions of the world based on a specific indicator

<template>
  <div>
        <h1 style="margin-bottom: 4rem">Here is the World Bank's regional classification system; <br> Your task is to select an indicator and then rank the regions respectively (Descending Order).</h1>
        <div class='overall-grid'>
            <!-- Image of Regions -->
            <div class='image-div'>
                <img :src="pic.src">
            </div>
                <!-- Array of available indicators -->
                <RegionsIndicator v-for="(indicator, index) in myIndicators" v-on:startChallenge="startChallenge" :key="indicator.id" :id='indicator.id' :clicked='clicked' :name="indicator.name" :index='index' :completed='indicator.completed' :left='indicator.left'/>
                <div class='indicator-chosen'>
                    <h2>{{ chosenIndicator }}</h2>
                </div>
                <!-- Draggable table to answer challenge -->
                <RegionsDrag v-on:checkSolution='checkSolution' v-on:newChallenge='newChallenge'  :answerArray="answerArray" :success="success" :sortedArray="sortedArray"/>
        </div>

  </div>
</template>

<script>
import axios from 'axios';
// World Bank regions of the world
import regions from '../../static/data/regions/regions.json';
// Selected indicators
import indicators from '../../static/data/regions/regio-indics.json';
import Regionsindicator from '../../components/regions/RegionsIndicator.vue';
import RegionsDrag from '../../components/regions/RegionsDrag.vue';


export default {
    name: 'Regions',
    components: {
        Regionsindicator,
        RegionsDrag
    },
    asyncData({ params }) {
        return {
            regions,
            indicators
        }
    },
    data() {
        return {
            pic: {src: '/world-regions.png'},
            // Variable to disable indicator cards once a indicator is selected
            clicked: false,
            // Array to locally hold indicators - do I need these?
            myIndicators: [],
            // Array to hold regions and values
            answerArray: [],
            // Array used to change answerArray and correct an answer from a user
            sortedArray: [],
            // Variable to save the indicator chosen
            chosenIndicator: '',
            // Variable to check if answer was correct
            success: false,
        }
    },
    methods: {
        // Start a challenge once an indicator (input id = indicator.id) is selected
        startChallenge({id, name}){
            this.chosenIndicator = name;
            this.myIndicators = this.myIndicators.map(indicator => ({...indicator, 'left': false}))
            this.sortedArray = []
            this.clicked = true;
            this.answerArray.forEach(region => {
                this.getAnswer(id, region);
            })       
        },
        // Get Values from the World Bank api
        async getAnswer(id, region){     
            axios.get(`https://api.worldbank.org/v2/country/${region.id}/indicator/${id}?mrv=1&format=json`).then(resp => {
                this.sortedArray.push({...region, 'value': resp.data[1][0].value});
                // Once all values are retrieved they are saved in answerArray which is then passed to the RegionsDrag component
                if (this.sortedArray.length === this.answerArray.length){
                    // Sort answerArray based on the name of the region
                    this.answerArray = [...this.sortedArray].sort(function (a,b){
                        if (a.name < b.name) {
                            return -1;
                        }
                        if (a.name > b.name) {
                            return 1;
                        }
                        return 0;
                    });
                    // Sort sortedArray based on the value
                    this.sortedArray.sort((a,b) => b.value - a.value);
                }
            }).catch(err => {
                console.error(err);
            })  
        },
        checkSolution(list){
            if (JSON.stringify(list) === JSON.stringify(this.sortedArray)){
                this.success = true;
                this.myIndicators = this.myIndicators.map(indicator => indicator.name === this.chosenIndicator ? {...indicator, 'completed': true} : {...indicator})
            } else {
                console.log('Try again');
            }
        },
        newChallenge(){
            this.success=false;
            this.myIndicators = this.myIndicators.map(indicator => indicator.name === this.chosenIndicator ? {...indicator, 'left': true} : {...indicator})
            this.clicked = false;
        }
    },
    created() {
        // Fill the answerArray Variable with empty values
        this.regions.forEach(region => {
            this.answerArray.push({...region, 'value': 0});
        });
        this.indicators.forEach(indicator => {
            this.myIndicators.push({...indicator, 'completed': false, 'left': false});
        });
        // Sort answerArray based on the name of the region
        this.answerArray.sort(function (a,b){
            if (a.name < b.name) {
                return -1;
            }
            if (a.name > b.name) {
                return 1;
            }
            return 0;
        });
    }
}
</script>

<style scoped>
.overall-grid{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 30%;
    grid-template-rows: 150px;
}

.image-div{
    grid-area: 2/1/3/8;   
}

.img{
    width: 90%;
    height: auto
}

.indicator-chosen {
    grid-area: 1/8/2/9;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
</style>