// Clue Card - the card gets the value from the api immediately. It is set up in order to also be able to get the value for the whole world, but this is currently not being used

<template>
    <div class='clue-container' :style='style'>
        <div class="clue">
            <h3>{{ topic }}:</h3>
            <div class='clue-number'>
                <p class='number'> {{ value }} </p>
                <div class='circle'></div>
            </div>
            <p>({{ date }})</p>
            <!-- <small>World Average: {{ world }} ({{ worldDate }})</small> -->
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "Clue",
    props: [
        // ID of indicator
        'id',
        // Name of indicator
        'topic',
        // Id of country
        'countryId',
        // Index of Clue - used to position the card
        'index'
    ],
    data() {
        return {
            // Variables to save the value and date of the latest data for the country and indicator
            value: null,
            date: null,
            // World Data is not currently being used
            // world: null,
            // worldDate: null
        }
    },
    computed: {
        style() {
            return 'grid-area: 1/' + (this.index + 1) + '/2/' + (this.index+2);
        }        
    },
    methods: {
        // Formatting any numbers to have 2 decimal places and commas
        rounding(string){
            let formatted = '';
            let rest = '';
            let result = ''
            if (string !== ""){
                formatted = parseFloat(string).toFixed(2);
                if (formatted.length > 6){
                    rest = formatted.substring(0, formatted.length -6);
                    result = ',' + formatted.slice(-6);
                    while (rest.length > 3){
                        result = ',' + rest.slice(-3) + result;
                        rest = rest.substring(0, rest.length -3)
                    }
                    result = rest + result;
                } else {
                    result = formatted;
                }
                return result;
            };
            return null;
        },
        // Retrieve the value of the country for the indicator
        async getResult() {
            axios.get(`https://api.worldbank.org/v2/country/${this.countryId}/indicator/${this.id}?mrv=1&format=json`).then(resp => {
                this.value = this.rounding(resp.data[1][0].value);
                this.date = resp.data[1][0].date;
                // The following code can be used to access the world data if eventually needed
                // axios.get(`https://api.worldbank.org/v2/country/WLD/indicator/${this.id}?date=${this.date}&format=json`).then(resp => {
                //     if (resp.data[1][0].value === ""){
                //         axios.get(`https://api.worldbank.org/v2/country/WLD/indicator/${this.id}?mrv=1&format=json`).then(resp2 => {
                //             this.world = this.rounding(resp2.data[1][0].value);
                //             this.worldDate = resp2.data[1][0].date;
                //         }).catch(err2 => {
                //         console.error(err2); 
                //         })
                //     } else {
                //         this.world = this.rounding(resp.data[1][0].value);
                //         this.worldDate = this.date;
                //     }
                // }).catch(err2 => {
                //     console.error(err2);
                // });
            }).catch(err => {
                console.error(err);
            });
        }
    },
    // Upon being created, immediately attempt to get the value 
    created() {
        this.getResult();
    }
}
</script>

<style scoped>
/* clue container to set clue in middle of the grid */
.clue-container {
    grid-area: 1/1/1/1;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1;   
}

/* clue card, centering information in a column flex */
.clue {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    min-height: 300px;
    width: 85%;
    min-width: 220px;
    background: rgb(196, 196, 196);
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

/* Grid in order for number and circle to appear on top of each other */
.clue-number {
    display: grid;
    color: white;
    justify-items: center;
    align-items: center;
    margin-bottom: 0.8rem;
}

/* Number to appear on top of circle */
.number {
    grid-area: 1/1/1/1;
    z-index: 1;
    font-size: 24pt;
    margin: 0;
    padding: 0;
}

/* Create the red circle behind the number */
.circle {
    grid-area: 1/1/1/1;
    height: 175px;
    width: 175px;
    background: rgb(205, 121, 121);
    border-radius: 100%;
    z-index: 0;
}
</style>