// Drop down box enabling user to guess from the countries provided

<template>
  <div class='dropdown'>
      <!-- Input for user to type and search - models off the variable text -->
    <input class='dropdown-input' v-model="text" @focus="showOptions()" @blur='exit' @keyup='keyMonitor' placeholder="Type your guess here" >
    <!-- Dropdown of possible countries - filtered by the text in the input -->
    <div class="dropdown-content" v-show='active'>
        <div class='dropdown-item' @mousedown="selectOption(option)" v-for='option in filteredOptions' :key='option.id'>
            {{ option.name }}
        </div>
    </div>
  </div>
</template>

<script>

export default {
    name: 'Guess',
    props: {
        // The simple array of countries created in index.vue
        countries: {
            type: Array
        }
    },
    data() {
        return {
            // Variable to save the country selected
            selected: {},
            // Variable saves and updates depending on what is written in the input
            text: '',
            // Variable shows if the user is currently searching
            active: false
        }
    },
    computed: {
        // Filters the array based on the text input - this is saved in a 'filteredOptions' array which is used in the dropdown-item div
        filteredOptions: function() {
            const filtered = [];
            const regOption = new RegExp(this.text, 'i');
            for (const country of this.countries) {
                if (this.text.length < 1 || country.name.search(regOption) === 0){
                    filtered.push(country);
                }
            }
            return filtered;
        }
    },
    methods: {
        // Emits a check answer if an option is selected
        selectOption(option){
            this.selected = option;
            this.active = false;
            this.text = this.selected.name;
            this.$emit('check-answer', this.selected);
        },
        // Shows the dropdown box if the user engages with the input
        showOptions() {
            this.active = true;
            this.text = '';
        },
        // if user clicks away, 
        exit() {
            // First check if anything has been selected
            if (!this.selected.id){
                this.selected = {};
                this.text = '';
            } else {
                // If something has been selected, the text input is changed to this value
                this.text = this.selected.name;
            }
            // Check the guess and make dropdown invisible
            this.$emit('check-answer', this.selected);
            this.active = false;
        },
        // If the user clicks enter, the first item in the dropdown is chosen
        keyMonitor: function(event) {
            if (event.key === "Enter" && this.filteredOptions[0])
                this.selectOption(this.filteredOptions[0]);
        }
    },
    created() {
        // this.$emit('check-answer', this.selected);
    }
}
</script>

<style scoped>
    .dropdown {
        position: relative;
        display: block;
        /* margin: auto; */
        width: 80%;
        margin-top: 60px;
    }
    .dropdown-input {
        background: #fff;
        cursor: pointer;
        border: 1px solid #e7ecf5;
        border-radius: 3px;
        color: #333;
        display: block;
        font-size: 1.2em;
        font-family: 'Reem Kufi';
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 0px;
        padding-right: 0px;
        min-width: 200px;
        /* max-width: 250px; */
    }
    .dropdown-input:hover {
        background: #f8f8fa;
    }
    .dropdown-content {
        /* position: absolute; */
        background-color: #fff;
        width: 100%;
        min-width: 200px;
        /* max-width: 248px; */
        max-height: 450px;
        border: 1px solid #e7ecf5;
        box-shadow: 0px -8px 34px 0px rgba(0,0,0,0.05);
        overflow: auto;
        z-index: 1;
    }
    .dropdown-item {
        color: black;
        font-size: .9em;
        line-height: 1em;
        padding: 8px;
        text-decoration: none;
        display: block;
        cursor: pointer;
    }
    .dropdown-item:hover {
        background-color: #e7ecf5;
    }
    .dropdown:hover .dropdowncontent {
        display: block;
    }
</style>