// Header appears above all pages
<template>
  <header class='myHeader'>
      <p style="width: 300px"></p>
      <h1 class='title'>The World Bank Quiz</h1>
      <ul>
          <li>
              <nuxt-link to='/'>Home</nuxt-link>
          </li>
          <li>
              <nuxt-link to='/regions'>Regions</nuxt-link>
          </li>
                    <li>
              <nuxt-link to='/ranks'>Ranks</nuxt-link>
          </li>
      </ul>
  </header>
</template>

<script>
export default {
    name: 'MyHeader',
}
</script>

<style>
.myHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  /* border-bottom: 1px dotted #ccc; */
}
.myHeader .title {
  font-size: 3rem;
  color: rgb(93,102,186);
}
.myHeader ul {
  display: flex;
  list-style: none;
}
.myHeader a {
  display: inline-block;
  /* background: #333; */
  color: rgb(93,102,186);
  padding: 0.3rem 1rem;
  margin-right: 0.5rem;
  text-decoration: none;
}
</style>