<template>
  <div class='container'>
     <!-- Div to be shown when a guess has not been made --> 
      <div class="no-guess" v-show='!guessed'>
          <h1>Take a guess!</h1>
      </div>
      <div class="guess" v-show='guessed'>
          <!-- Div to be shown when the guess is correct -->
        <div class='correct' v-show='result'>
            <h1>You Won! <br> {{ this.guess.name }} was correct!</h1>
            <!-- Once the challenge is succesfully completed, a new country can be chosen -->
            <img class='refresh-pic' @click='refresh' src="https://tse4.mm.bing.net/th?id=OIP.SNyBfqUf6_Y20TQL8ccofwHaHa&pid=Api" height="40px" width='40px' title='New Country'>
        </div>
        <!-- Div to be shown when the guess is incorrect -->
        <div class='incorrect' v-show='!result'>
            <h1>{{ this.guess.name }} is incorrect... <br> Try Again!</h1>
        </div>
      </div>
  </div>
</template>

<script>
export default {
    name: 'Result',
    props: [
        'guess',
        'result',
        'guessed'
    ],
    methods: {
        
        // I think there is a nicer way to choose a new Country rather than simply reloading the page - I will look into this
        refresh(){
            window.location.reload(true);
        }
    },
}
</script>

<style scoped>
.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-guess{
    color: rgb(93,102,186);
}

.correct {
    color: rgb(184,186,93)
}

.incorrect {
    color: rgb(186,93,93)
}

.refresh-pic:hover {
    cursor: pointer;

}
</style>