// Hint Cards than can be flipped over to reveal a hint

<template>
    <!-- Container holding a card -->
    <div class='my-container' :style='style'>
        <!-- Card holding both a front and back - with revealResult changing the value of showResult which triggers different classes  -->
        <div class="reveal" @click='revealResult' :class="{'shown': showResult, 'ready': !showResult}">
            <!-- Front of card (No answer) -->
            <div class='front' :style='colourStyle' >
                <p>Hint {{ index + 1 }}: {{ topic }}</p>
                <img width='52' height='52' src="https://cdn0.iconfinder.com/data/icons/rotation/154/rotation-circle-full-rotate-arrow-512.png"/>
            </div>
            <!-- Back of card (answer revealed) -->
            <div class="back" :style='colourStyle'>
                <p>{{ topic }}</p>
                <h2>{{ formattedValue }}</h2>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Revealable",
    props: [
        // Name of Topic (hint)
        'topic',
        // Value of hint
        'value',
        // Card index - used for placement and colour
        'index',
        // Array of colours to be chosen from
        'colours'
    ],
    data() {
        return {
            // Variable saving whether a result should be revealed
            showResult: false,
            // Formatted numbers (2 decimal places and commas for thousands, millions etc.)
            formattedValue: ''
        }
    },
    computed: {
        // Places the card in the right place
        style() {
            return 'grid-area: 2/' + (this.index + 1) + '/3/' + (this.index+2);
        },
        // Gives the card the correct colour
        colourStyle() {
            return 'background: ' + this.colours[this.index];
        }
    },
    methods: {
        // When the card is clicked, revealResult changes this.showResult which flips the card
        revealResult(){
            this.showResult = true;
        },
        // Formatting the population number to include commas
        formatPopulation(population){
            let rest = population.toString();
            let result = '';
            while (rest.length > 3){
                result = ',' + rest.slice(-3) + result;
                rest = population.substring(0, rest.length - 3);
            }
            return rest + result;
        },
    },
    created() {
        // If the hint is population, then the value needs to be formatted
        if (!isNaN(this.value)){
            this.formattedValue = this.formatPopulation(this.value);
        } else {
            this.formattedValue = this.value
        }
    }
}
</script>

<style scoped>
.my-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reveal {
    /* border: grey solid 2px; */
    height: 150px;
    width: 85%;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front,
.back{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}

.front {
    /* background: rgb(230, 221, 252); */
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    /* background: rgb(230, 221, 252); */
    transform: rotateY(180deg);
    z-index: 1;
}

.shown{
    transform: rotateY(180deg);
}

.my-container{
    perspective: 1000px;
}

.ready:hover {
    cursor: pointer;
}
</style>