// Card Component which can be selected in order to begin a new challenge of sorting the regions of the world according to this task

<template>
    <!-- Card can be clicked to fill array and start challenge - After a card is clicked all other cards are disabled -->
  <div class='card' @click="!clicked ? (whenClicked(), $emit('startChallenge', {id: id, name: name})) : null" :class="{'disabled': clicked, 'chosen': justClicked, 'completed': completed}" :style='style'>
      <p>{{ name }}</p>
  </div>
</template>

<script>
export default {
    name: 'RegionsIndicator',
    props: {
        id: String,
        name: String,
        clicked: Boolean,
        index: Number,
        completed: Boolean,
        left: Boolean
    },
    data() {
        return {
            justClicked: false,
            turnOff: false
        }
    },
    watch: {
        // If new challenge is clicked, then the card is refreshed ready to be clicked again
        "left": function() {
            if (this.left === true){
                this.justClicked = false;
            }
        }
    },
    computed: {
        // Computing in which grid area the card should be placed
        style() {
            // return 'grid-area: ' + ((this.index%4) + 1) + '/' + (Math.floor(this.index / 4) + 2) + '/' + (this.index%4+2) + '/'  + (Math.floor(this.index/4) + 3);
            return 'grid-area: 1/' + (this.index + 1) + '/2/' + (this.index+2);
        },
    },
    methods: {
        whenClicked(){
            this.justClicked = true;
        },

    }
}
</script>

<style scoped>

.card {
    width: 140px;
    height: 140px;
    background:rgb(196, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.disabled{
    border: solid 1px red;
    cursor: not-allowed;
}

.chosen {
    background: orange;
}

.completed {
    background: green;
}
</style>