<template>
    <div class='this-container'>
        <!-- See RanksDrag.vue for description of draggable template -->
        <div class='draggable-div'>
            <draggable v-model="list" ghost-class='ghost' @end='onEnd'>
                <transition-group type='transition' name='flip-list'>
                    <!-- Regions Element for each region in the list -->
                    <RegionsElem v-for="(element, index) in list" :key="element.id" :index='index' :id='element.id' :value='element.value' :name='element.name' :sortedArray="sortedArray" :checking='checking' :correct='success'/>
                </transition-group>
            </draggable>
        <button @click="checkAnswer(), $emit('checkSolution', list)">Submit</button>
        <button @click="refresh(), $emit('newChallenge')">New Challenge</button>
            <!-- <p>Previous Index: {{ oldIndex }}</p>
            <p>New Index: {{ newIndex }}</p> -->
        </div>
  </div>
</template>

<script>
import RegionsElem from './RegionsElem.vue';
import draggable from 'vuedraggable';

export default {
    name: 'RegionsDrag',
    components: {
        draggable,
        RegionsElem,
    },
    props: {
        answerArray: Array,
        sortedArray: Array,
        success: Boolean
    },
    data() {
        return {
            list: [],
            oldIndex: '',
            newIndex: '',
            checking: false,
        }
    },
    methods: {
        onEnd(evt) {
            this.oldIndex = evt.oldIndex;
            this.newIndex = evt.newIndex;
            if (this.checking === true){
                this.checking = false;
            }
        },
        checkAnswer() {
            this.checking = true;
        },
        refresh() {
            this.checking = false;
        }
    },
    // Watch for changes to answer array (when the values are retrieved from the api) and update the list
    watch: {
        "answerArray": function(){
            this.list = [...this.answerArray];
        }
    },
    // Create local list
    created() {
        this.list = [...this.answerArray];
    }
}
</script>

<style scoped>

.this-container{
    grid-area: 2/8/3/9;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>