// 

<template>
  <div>
      <h1 style="margin-bottom: 4rem">Your task is to rank the 10 countries according to the indicator provided (Descending order).</h1>
      <!-- Print the randomly selected indicator -->
      <h1 style="margin-bottom: 2rem">{{ indicator.name }}</h1>
      <!-- Component for user to drag the countries into their guessed position -->
      <RanksDrag v-on:checkSolution='checkSolution' v-on:newChallenge='newChallenge'  :answerArray="answerArray" :success="success" :sortedArray="sortedArray"/>
  </div>
</template>

<script>
import axios from 'axios';
// Array of 10 'selected' countries, which will need to be ranked correctly for a randomly chosen indicator
import Ranks from '../../static/data/ranks/ranks.json';
// Array of selected indicators, of which 1 will be chosen
import indicators from '../../static/data/ranks/ranks-indics.json';
import RanksDrag from '../../components/ranks/RanksDrag.vue';

export default {
  name: 'Ranks',
  components: {
    RanksDrag
  },
  data() {
    return {
      // Object to save the randomly selected indicator object
      indicator: {},
      // Local copy of the Ranks.json Array - With indicator values added
      answerArray: [],
      // Sorted copy of answerArray - Sorted by indicator Value
      sortedArray: [],
      // Check if answer is correct
      success: false
    }
  },
  asyncData({ params }) {
    return {
      Ranks,
      indicators
    }
  },
  methods: {
    // Choose a random Indicator and then call for each country to retrieve their most recent value for this indicator
    startChallenge(){
      const rand = Math.round(Math.random()*(this.indicators.length-1));
      this.sortedArray = [];
      this.indicator = this.indicators[rand];
      this.answerArray.forEach(country => {
          this.getValue(country);
      })       
    },
    // Function to get values from world bank api
    async getValue(country) {
      axios.get(`https://api.worldbank.org/v2/country/${country.id}/indicator/${this.indicator.id}?mrv=1&format=json`).then(resp => {
        this.sortedArray.push({...country, 'value': resp.data[1][0].value});
        // After the last country has retrieved their value, the resultArray is then copied and sorted into sortedArray
        if (this.sortedArray.length === this.answerArray.length){
          this.answerArray = [...this.sortedArray].sort(function (a,b){
              if (a.name < b.name) {
                  return -1;
              }
              if (a.name > b.name) {
                  return 1;
              }
              return 0;
          });
          this.sortedArray.sort((a,b) => b.value - a.value);
        }
      }).catch(err => {
        console.error(err);
      })
    },
    checkSolution(list){
        if (JSON.stringify(list) === JSON.stringify(this.sortedArray)){
            this.success = true;
        } else {
            console.log('try again');
        }
    },
    newChallenge(){
        window.location.reload(true);
    }
  },
  created() {
    this.Ranks.forEach(country => {
        this.answerArray.push({...country, 'value': 0});
    });
    this.startChallenge();
  }
}
</script>

<style>

</style>