<template>
    <div class='containerBody'>
        <MyHeader />
        <Nuxt />
    </div>
</template>

<script>
import MyHeader from '../components/MyHeader.vue';

export default {
    components: {
        MyHeader
    }
}
</script>

<style>
/* Set font for all elements */
body {
    font-family: 'Reem Kufi'
}
/* set margin and center all elements */
.containerBody {
    margin: 20px;
    text-align: center;
}

/* From this point on, all styles are associated with the draggable component */

.sortable {
    width: 100%;
    background: grey;
    cursor: pointer;
    padding: 1em;
    margin-bottom: 2px;
}

.sortable span{
    float: right;
}

.flip-list-move {
    transition: transform 0.5s;
}

.draggable-div .sortable-drag{
    opacity: 0;
}

.ghost {
    border-left: 6px solid rgb(0, 183, 265);
    box-shadow: 10px 10px 5px -1px rgba(0,0,0, 0.14);
    opacity: .7
}
</style>