// Table of countries with the ability to drag in order to rank them
<template>
    <!-- Containing div of the draggable list -->
    <div class='this-container'>
        <div class='draggable-div'>
            <!-- The list of draggable components - the ghost class allows styling on the element as it is being dragged -->
            <draggable v-model="list" ghost-class='ghost' @end='onEnd'>
                <!-- Transition group allows the dragged element to appear while it is being dragged -->
                <transition-group type='transition' name='flip-list'>
                    <!-- Ranks Element for each Country in the list -->
                    <RanksElem v-for="(element, index) in list" :key="element.id" :index='index' :id='element.id' :value='element.value' :name='element.name' :sortedArray="sortedArray" :checking='checking' :correct='success'/>
                </transition-group>
            </draggable>
        <button @click="checkAnswer(), $emit('checkSolution', list)">Submit</button>
        <button @click="$emit('newChallenge')">New Challenge</button>
        </div>
  </div>
</template>

<script>
import RanksElem from './RanksElem.vue';
// Using the component draggable https://github.com/SortableJS/Vue.Draggable (installed using yarn add vuedraggable);
import draggable from 'vuedraggable';

export default {
    name: 'RanksDrag',
    components: {
        draggable,
        RanksElem,
    },
    props: {
        // Array with countries and values in accordance with chosen indicator
        answerArray: Array,
        sortedArray: Array,
        success: Boolean
    },
    data() {
        return {
            // list to locally save and edit the order ofanswer
            list: [],
            // Saves the oldIndex of the last dragged element
            oldIndex: '',
            // Saves the newIndex of the last dragged element
            newIndex: '',
            // Variable to check if submit has been clicked
            checking: false
        }
    },
    methods: {
        // Runs on each drag event
        onEnd(evt) {
            this.oldIndex = evt.oldIndex;
            this.newIndex = evt.newIndex;
            if (this.checking === true){
                this.checking = false;
            }
        },
        checkAnswer() {
            this.checking = true;
        },
    },
    // Watch for changes to result array (when the values are retrieved from the api) and update the list
    watch: {
        "answerArray": function(){
            this.list = [...this.answerArray].sort((a,b) => a.id - b.id);
        }
    },
    // Create local list
    created() {
        this.list = [...this.answerArray].sort((a,b) => a.id - b.id);
    }
}
</script>

<style>
/* Style is found in '../../layouts/default' as the draggable styling is shared by components RanksDrag and RegionsDrag  */
</style>