<template>
    <div class='sortable' :class="{'success': success, 'error': error}" >
        <strong>{{ name }}</strong>
        <span v-show="correct">{{ value }}</span>
    </div>
</template>

<script>
export default {
    name: 'RanksElem',
    props: {
        id: String,
        name: String,
        value: Number,
        index: Number,
        sortedArray: Array,
        checking: Boolean,
        correct: Boolean
    },
    data(){
        return {
            success: false,
            error: false
        }
    },
    watch: {
        // Watch if 'submit' has been clicked
        'checking': function() {
            if (this.checking === true){
                this.checkSuccess();
            } else {
                this.success = false;
                this.error = false;
            }
            
        }
    },
    methods: {
        // Check if the element is in the right place
        checkSuccess(){
            if (this.sortedArray[this.index].id === this.id){
                this.success = true;
            } else {
                this.error = true;
            }
        }
    }
}
</script>

<style scoped>
.my-container {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

.success{
    background: green;
}

.error{
    background: red;
}
</style>