<template>
  <div>
    <h1 style="margin-bottom: 4rem">The following three statistics are specific to a certain country; <br> Your task is to guess this country, using the three coloured hints if required.</h1>
    <!-- Grid setup for cards, hints and guesses -->
    <div class='overall-grid'>
        <!-- 3 Clues -->
        <Clue v-for='(clue, index) in clues'  :key="clue.id" :id="clue.id" :topic="clue.name" :countryId="answerData.id" :index='index'/>
        <!-- 3 Coloured Hints -->
        <Revealable v-for='(revealable, index) in revealables' :key="revealable.id" :id="revealable.id" :topic="revealable.topic" :value="revealable.value" :index='index' :colours='colours'/>
      <div class='guessing'>
        <!-- Result is displayed -->
        <Result :result='result' :guess='guess' :guessed='guessed'/>
        <!-- Dropdown box for user to guess -->
        <Guess v-on:check-answer="checkAnswer" :countries="countries" />
      </div>
    </div>
  </div>

</template>

<script>
import axios from 'axios';
// All Countries in the World Bank api (No regions or economic groups) - at some point it may be clever to edit this group to remove very small countries?
import countryData from '../static/data/countries.json';
// A group of selected indicators
import indicators from '../static/data/indicators.json';
import Guess from '../components/Guess';
// Clues to be randomly generated from the available indicators 
import Clue from '../components/Clue';
// Hints generated for the chosen country
import Revealable from '../components/Revealable';
import Result from '../components/Result';


export default {
  name: 'IndexPage',
  components: {
    Guess,
    Clue,
    Revealable,
    Result
  },
  asyncData({ params }) {
    return {
      countryData,
      indicators
    }
  },
  data() {
    return {
      // The chosen country
      answerData: {},
      // Clues with values of chosen country
      clues: [],
      // Array of all possible countries (Local array from countryData)
      countries: [],
      // Array of hints
      revealables: [],
      // Variable saving whether a guess is correct or not
      result: null,
      // Variable showing if a guess has been made
      guessed: false,
      // Array for possible colours of the 3 hints
      colours: [],
      // Variable to store the country guessed by the user
      guess: {},
    }
  },
  methods: {
    // Function to check if the guessed country (answer) is correct
    checkAnswer(answer) {
      // First check if a guess was made
      if (answer.name === undefined){
        this.guessed = false;
      } else {
        this.guessed = true;
        this.guess = {...answer};
        // Check if guess is correct
        if (answer.name === this.answerData.name) {
          this.result = true;
        } else {
          this.result = false;
        }
      }
    },
    // Randomly find a country from countryData
    newCountry(){
      const rand = Math.round(Math.random()*(this.countryData.length-1));
      this.answerData = this.countryData[rand];
    },
    // Randomly choose 3 indicators from the indicator json
    generateIndicators(){
      let toChoose = [...this.indicators];
      for (let i=0; i<3; i++){
        const rand = Math.round(Math.random()*(toChoose.length-1));
        this.clues[i] = toChoose[rand];
        toChoose = toChoose.filter(indicator => indicator.id !== this.clues[i].id);
      };
    },
    // Generate the 'hints' once a country has been randomly selected
    async generateReveals(){
      axios.get(`https://api.worldbank.org/v2/country/${this.answerData.id}/indicator/SP.POP.TOTL?mrv=1&format=json`).then(resp => {
        this.revealables.push({'id': '0', 'topic': 'Population', 'value': `${resp.data[1][0].value}`});
      }).catch(err => {
        console.error(err);
      })
      this.revealables.push({'id': '1', 'topic': 'Region', 'value': `${this.answerData.region.value}`}) ;
      this.revealables.push({'id': '2', 'topic': 'First Letter', 'value': `${this.answerData.name[0]}`});
    },
    // This function is run as the component is created to choose a country, indicators and fill in the hints
    setup() {
      this.newCountry();
      this.generateIndicators();
      this.generateReveals();
    }
  },
  created() {
    this.setup();
    // Create a smaller, simpler country Array from countryData
    this.countryData.forEach(elem => {
      this.countries.push({'id': elem.id, 'name': elem.name});
    });
    // Set up the possible colors for the hints
    this.colours.push('rgb(184,186,93)');
    this.colours.push('rgb(93,102,186)');
    this.colours.push('rgb(186,93,93)');
  }
}
</script>

<style>
.overall-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 300px 250px 800px;
}

.guessing {
  grid-area: 3/1/5/4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
}
</style>
